*{
	margin:0px;
	padding: 0px;
	list-style-type: none;
	/*font-family: 'Microsoft YaHei';*/
}
body{
	background-color: #eeeeee;
}
/*头部上半部分*/
.wh-header{
	background-color:#0f9d58;
	color: #ffffff;
	height: 112px;
	width: 100%;
	z-index: 9;
	position: fixed;
	box-shadow: 0px 6px 5px #dddddd;
}
/*头部上半部分左边*/
.wh-left-header{
	height:65px;
	width: 20%;
}
.wh-list-button{
	float: left;
	width: 17%;
	height: 45px;
	margin-top: 10px;
	border-radius: 50px;
	background: url(../images/icon.png) no-repeat;
	background-position:-103px -83px;
}
.wh-list-button:active{
	background-color:rgba(255,255,255,0.5);
}
.wh-header-title{
	height: 45px;
	width: 50%;
	line-height: 45px;
	margin-top: 10px;
	border-right:1px solid #3fb079;
	font-size: 20px;
	float: left;
}
.wh-index{
	float: left;
	width: 30%;
	margin-top: 10px;
	height: 45px;
	line-height: 45px;
	text-align: center;
}
/*头部上半部分右边*/
.wh-right-header{
	position: absolute;
	width: 10%;
	height: 65px;
	right: 0;
	top:0;
}
.wh-right-header ul li{
	display: block;
	float: left;
	width: 30%;
	margin-top: 5px;
	height: 50px;
}
.wh-right-header ul li:nth-child(1){
	background: url(../images/icon.png) no-repeat;
	background-position:-85px -130px;
}
.wh-right-header ul li:nth-child(2){
	background: url(../images/icon.png) no-repeat;
	background-position:-150px -148px;
	width: 25%;
}
.wh-right-header ul li:nth-child(3){
	width: 40px;
	height: 40px;
	border: 1px solid #ffffff;
	border-radius: 40px;

}
/*头部下半部分*/
.wh-header-bottom{
	width: 100%;
	height: 45px;
}
.wh-header-tab{
	width: 30%;
    display: block;
    position: fixed;
    z-index: 11;
    left: 50%;
    top:65px;
    -webkit-transform: translateX(-50%);
     -moz-transform:translateX(-50%);
     transform: translateX(-50%);
}
.wh-header-tab ul li{
	display: block;
	float: left;
	width: 33.3%;
}
.wh-header-tab ul li.text-color a{
	color:#ffffff;
}
.wh-header-tab ul li .title{
	text-decoration: none;
	width: 100%;
	color: rgba(255,255,255,0.4);
	display: block;
	line-height: 45px;
	height: 45px;
	text-align: center;
}
.wh-header-tab ul li a:hover{
	color: #ffffff;
}

  /*下划线动画*/
.wh-header-tab .header-line-left{
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 33.3%;
	height: 4px;
	background-color: #ffffff;
}
/*主体内容*/
.main{
	width: 100%;
	height: 1000px;
	position: absolute;
	top:115px;
}
/*主体内容左边*/
.main .main-left{
	width: 198px;
	height: 809px;
	position: fixed;
	z-index: 10;
}
.main .main-left ul{ 
	display: block;
}
.main-left ul li{
	width: 100%;
}
.main-left ul li a{
	text-decoration: none;
	color:#6b6b6b;
	width: 78%;	
	display: block;	
	line-height: 48px;
	height: 48px;
	margin: 0 auto;
	padding-left: 22%;
	font-size: 14px;
	text-align: left;
}
.main-left ul li:nth-child(6){
	border-bottom: 1px solid #dedede;
}
/*侧边栏菜单*/
.main-left ul li a span{
	width: 30px;
	height:30px;
	display: block;
	float: left;
	margin-left: -20px;
	margin-top: 5px;
}
.main-left ul li:nth-child(1) a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-10px -10px;
}
.main-left ul li:nth-child(1):hover a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-44px -10px;
}
.main-left ul li:nth-child(2) a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-10px -57px;
}
.main-left ul li:nth-child(2):hover a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-44px -57px;
}
.main-left ul li:nth-child(3) a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-10px -97px;
}
.main-left ul li:nth-child(3):hover a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-44px -97px;
}
.main-left ul li:nth-child(4) a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-12px -127px;
}
.main-left ul li:nth-child(4):hover a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-45px -127px;
}
.main-left ul li:nth-child(5) a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-12px -157px;
}
.main-left ul li:nth-child(5):hover a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-46.5px -157px;
}
.main-left ul li:nth-child(6) a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-12px -205px;
}
.main-left ul li:nth-child(6):hover a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-46.5px -205px;
}
.main-left ul li:nth-child(7) a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-12px -273px;
}
.main-left ul li:nth-child(7):hover a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-46px -273px;
}
.main-left ul li:nth-child(8) a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-12px -315px;
}
.main-left ul li:nth-child(8):hover a span{
	background: url(../images/icon.png) no-repeat;
	background-position:-45px -315px;
}
.main-left .menu-line-left{
	position: absolute;
	width: 6px;
	height: 48px;
	background-color:#0f9d58;
	top: 1px; 
}
.main-left .footer{
	color: #6b6b6b;
	font-size: 10px;
	padding-left: 10px;
	position: absolute;
	top:405px ;
}
.main-left .footer p {
	padding-bottom: 10px;
}
/*主体内容*/
.main-content{
	width: 100%;
	height: 1000px;
}
.main-content .main-content-detail{
	width: 50%;
	height: 809px;
	margin: 0 auto;
	border:1px solid red;
}

